@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
#About {
  width: 100%;
  height: 100vh;
  background-color: #0d1117 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0 ;
  overflow-x: hidden;
}
.tilt_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
}
.img_card {
  width: 300px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.25);
  margin: 0 40px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-image: url("../Images/aman2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.info-title {
  width: 50%;
  height: 70%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10;
  /* background-color: transparent; */
}
h2 {
  color: #fff;
  font-weight: 900;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
  background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-text {
  margin: 0;
  margin-top: 15px;
}
.greet-title,
.about-text {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: left;
}
.information {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: #2190ff;
  background: linear-gradient(90deg,#ff7170 2.34%,#ffe57f 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  padding-left: 0.5%;
}
.greet-title {
  font-weight: 700;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #fff;
  background-color: transparent;
}
.arrow {
  color: #00d4ff;
  padding-left: 1%;
  font-size: 15px;
}
.arrowLink {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg,#ff7170 2.34%,#ffe57f 100.78%);
  -webkit-background-clip: text;
  background-clip:text ;
}
.msg-btn a {
  position: relative;
  width: 40%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  /* background: linear-gradient(45deg, transparent 5%, #2190ff 5%); */
  border: 0;
  background-color: #2190ff;
  color: #fff;
  letter-spacing:1px;
  line-height: 88px;
  /* box-shadow: 6px 0 0 #ff013c; */
  outline: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  padding-left: 1%;
  padding-right: 1%;
}
.msg-btn {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-top: 8%;
  justify-content: space-between;
  background-color: transparent;
}

.btn-class {
  background-color: transparent;
  color: #111111;
}
.fa-arrow-right {
  height: fit-content;
  font-size: 15px !important;
  margin-left: 1%;
  background-color: transparent;
}
@media screen and (max-width:1024px) {
  .about-text{
    font-size: 20px;
    }
    .msg-btn{
      width: 80%;
    }
    .info-title {
      width: 60%;
    }
}
@media screen and (max-width: 900px) {
  .msg-btn a{
    font-size: 16px ;
  }
}
@media screen and (max-width:768px) {
  .img_card{
    width: 200px;
    height: 200px;
  }
  .about-text{
    font-size: 16px;
    line-height: 30px;
  }
  .msg-btn{
    width: 90%;
  }
  .msg-btn a{
    font-size: 16px ;
  }
  h2{
    font-size: 40px;
  }
}

@media screen and (max-width:670px) {
  .msg-btn{
    width: 100%;
  }
  .msg-btn a{
    font-size: 14px;
  }
}
@media screen and (max-width:640px) {
  .img_card{
    display: none;
  }
  .tilt_title{
    transform: rotate(-90deg) !important;
    height: 10%;
    width: 50%;
    padding: 0;
    margin-left: -10%;
  }
  .tilt_title h2{
    margin: 0;
    padding: 0;
  }
  .msg-btn{
    width: 85%;
  }
  .info-title{
    width: 90%;
    margin-left: -10%;
  }
  .about-title-mobile{
    display: none;
  }
}
@media screen and (max-width:500px){
  .tilt_title h2{
    font-size: 30px !important;
  }
  .msg-btn{
    width: 100%;
    margin-left: -12%;
  }
}
@media screen and (max-width:425px){
  .about-text{
    font-size: 14px;
  }
  .msg-btn a{
    width: 40%;
    font-size: 13px;
  }
  .info-title{
    height: 90%;
    margin-top: 15%;
  }
  .about-title-mobile{
    display: flex;
  }
}
@media screen and (max-width:425px){
  .tilt_title{
    display: none;
  }
  .info-title{
    height: 80%;
    margin-top: 25%;
  }
  .about-text,.msg-btn,.info-title{
    margin:0;
  }
  .about-title-mobile{
    font-size: 30px;
    text-align: center;
  }
}
@media screen and (max-width:320px){
  .info-title{
    width: 100%;
    margin-left: 10%;
  }

  .about-title-mobile{
    font-size: 25px;
  }
  .msg-btn a{
    width: 45%;
    font-size: 12px;
  }
}