.preloader{
    height: 100vh;
    width: 100%;
    background-color: #090909;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.preloader .texts-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 500px;
    font-size: 20px;
    font-weight: 800;
    overflow: hidden;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
@media screen and (max-width:600px) {
    .preloader .texts-container{
        font-size: 18px;
        width: 440px;
    }
}
@media screen and (max-width:425px) {
    .preloader .texts-container{
        font-size: 16px;
        width: 250px;
        height: 100px;
        flex-direction: column;
    }
}